<!-- 記録画面 -->
<div id="start" data-role="page" data-fullscreen="false">
  <div data-role="header" data-backbtn="false">
    <h1>記録する</h1>
    <%= link_to 'ログアウト', logout_path, :class => "ui-btn-right" %>
  </div>

  <%= render "layouts/header_menu" %>

  <div data-role="content">
    <%= render 'motivations/form_smart_phone' %>
  </div>

  <%= render 'layouts/footer_menu' %>
</div>

<!-- 記録完了画面 -->
<div id="complete" data-role="dialog">
  <div data-role="header" data-backbtn="false">
    <h1>記録完了</h1>
  </div>
  <div data-role="content">
    <p>記録しました。</p>
  </div>
</div>
