<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% if current_user? %>
  <p><%= current_user.name %> さん</p>
  <%= link_to 'ログアウト', logout_path %>
  <p>
  <%= current_user.name %>さんは、
  <% if current_user.from_twitter? %>
    <strong>twiter</strong>
  <% elsif current_user.from_facebook? %>
    <strong>facebook</strong>
  <% end %>
  から来ました。
  </p>
<% else %>
  <%= link_to 'ログイン', login_path %>
<% end %>
