<div id="complete" data-role="page">
  <div data-role="header">
    <h1>記録しました</h1>
    <%= link_to 'ログアウト', logout_path, :class => "ui-btn-right" %>
  </div>
  <div data-role="content">
    <%= render "layouts/flash_message" %>
    <div class="kadomaru">
      <p>記録しました。</p>
      <p>千里の道も一歩から！</p>
    </div>
  </div>
  <%= render 'layouts/footer_menu' %>
</div>
