<!-- 記録完了画面 -->
<div id="complete" data-role="page">
  <!-- <div id="start" data-role="page" data-fullscreen="false"> -->
  <div data-role="header" data-backbtn="false">
    <h1>記録しました</h1>
    <%= link_to 'ログアウト', logout_path, :class => "ui-btn-right" %>
  </div>
  <div data-role="content">
    <div class="kadomaru">
      <p>記録しました。</p>
      <p>千里の道も一歩から！</p>
    </div>
  </div>

  <%= render 'layouts/footer_menu' %>
</div>
