<div data-role="footer" data-position="fixed" data-id="menu">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'ホーム', root_path, :rel => "external", "data-role" => "button", "data-icon" => "home", "data-theme" => "a" %></li>
      <li><a href="#start" data-role="button" data-icon="check" data-theme="a">記録する</a></li>
      <li><a href="themes/1/graph" data-role="button" data-icon="minus" data-theme="a">グラフを見る</a></li>
    </ul>
  </div>
</div>
