<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Drivewave</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <script src="http://code.jquery.com/jquery-1.5.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
    <script>
      /* jQueryMobile のAJAX読込を無効にする */
      $.mobile.ajaxEnabled = false;
    </script>
    <%#= stylesheet_link_tag :all %>
    <%#= javascript_include_tag :defaults %>
    <%#= csrf_meta_tag %>
    <style type="text/css" media="screen">
      /* Hide text-field*/
      #slider {
        display: none;
      }
      div.ui-slider {
        width: 90%;
      }
      label.ui-block-right{
        text-align: right;
        float: right;
      }
      .min-width-480px div.ui-slider {
        width: 90%;
      }
      .min-width-480px label.ui-slider {
        width: 50%;
      }
    </style>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
